<div data-role="header" data-position="fixed" data-theme="a" align="center">
	<a href="" id="volver_pulsado" data-theme="a" data-icon="back" data-iconpos="notext"></a>		
	<h2>Detalle Ponente</h2>
	<a href="#home" id="volver_home" data-theme="a" data-icon="home" data-iconpos="notext"></a>		
</div>

<div id="lista_ponentes" data-role="content" data-theme="d"> 
	<div align="center">
		<img height="80px" src="<%= foto_url%>"><br />
		<strong><%= nombre %></strong><br />
		<%= cargo %><br />
		<%= empresa %>
		<p>
			<% if(telefono!="") {%>
				<a id="icono_telefono" href="callto:<%= telefono%>"><img class="ponente_btn" src="assets/images/callme.png"></a>
			<% } %>

			<% if(email!="") {%>
				<a id="icono_email" href="mailto:<%= email%>"><img class="ponente_btn" src="assets/images/email.png"></a>
			<% } %>

			<% if(twitter_url!="") {%>
				<a id="icono_twitter" href="<%= twitter_url%>"><img class="ponente_btn" src="assets/images/twitter.png"></a>
			<% } %>

			<% if(linkedin_url!="") {%>			
				<a id="icono_linkedin" href="<%= linkedin_url%>"><img class="ponente_btn" src="assets/images/linkedin.png"></a>
			<% } %>
		</p>
	</div>
  <p align="justify"><small><%= bio %></small></p>
</div>
