<div data-role="header" data-position="fixed" data-theme="a" align="center">
	<a href="" id="volver_pulsado" data-theme="a" data-icon="back" data-iconpos="notext"></a>		
	<h2>Participa!!</h2>
	<a href="#home" id="volver_home" data-theme="a" data-icon="home" data-iconpos="notext"></a>		
</div>

<div data-role="content" data-theme="d">
  
  <div align="center">
		<form>
			<fieldset data-role="controlgroup">
				<legend><strong><%= titulo %></strong></legend>
				<input type="radio" name="respuesta" id="opcion_1" value="1" data-theme="d">
				<label for="opcion_1"><small><%= opcion_1 %></small></label>
				<input type="radio" name="respuesta" id="opcion_2" value="2" data-theme="d">
				<label for="opcion_2"><small><%= opcion_2 %></small></label>
				<input type="radio" name="respuesta" id="opcion_3" value="3" data-theme="d">
				<label for="opcion_3"><small><%= opcion_3 %></small></label>
				<input type="radio" name="respuesta" id="opcion_4" value="4" data-theme="d">
				<label for="opcion_4"><small><%= opcion_4 %></small></label>
				<input type="radio" name="respuesta" id="opcion_5" value="5" data-theme="d">
				<label for="opcion_5"><small><%= opcion_5 %></small></label>
			</fieldset>
		</form>
		
		<a href="" id="votar_pulsado" data-theme="b" data-role="button" data-inline="false" data-mini="true">Vota</a>
		<div hidden id="msg_votacion_ok">
			<strong>Voto registrado</strong>
		</div>
		<div hidden id="sin_elegir">
			<strong>Elige una opción</strong>
		</div>
		<div hidden id="msg_votacion_fail">
			Error al registrar el voto
		</div>		  			  	
  </div>		  
</div>

